<h1><%= @user.username %>'s page</h1>

<%# profile %>
<h3>Profile:</h3>
  <% if current_user == @user %>
    <% if @user.profile.nil? %>
      <%= link_to 'Add Profile information', new_user_profile_path(@user) %>
    <% else %>
      <%= link_to 'Edit Profile information', edit_user_profile_path(@user) %>
    <% end %>
  <% end %>
  <% if !@user.profile.nil? %>
    <% profile = @user.profile %>
    <ul>
      <li>Name: <%= profile.name %></li>
      <li>Age: <%= profile.age %></li>
      <li>Location: <%= profile.location %></li>
      <li>Picture: <%= profile.picture %></li>
    </ul>
  <% end %>

<%# send friend request %>
<% if current_user.invitable?(@user) && current_user != @user %>
  <%= link_to 'Send Friend Request', new_user_invitation_path(@user) %>
<% end %>

<%# posts %>
<% if @user == current_user || current_user.friend_with?(@user) %>
  <h3><%= @user.username %>'s Posts:</h3>
  <% @posts.each do |post| %>
    <% @post = post %>
    <ul>
      <li><%= post.body %></li>
      <%= post.created_at %><br>
      <%= post.likes.count %> - likes <br>
      <% like = post.find_like(current_user) %>
    <% if post.liked_by?(current_user) %>
      <%= link_to 'Un-like', post_like_path(post, like, like: { user_id: current_user.id, post_id: post.id }), data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to 'Like', new_post_like_path(post, like: { user_id: current_user.id, post_id: post.id }) %>
    <% end %>
    </ul>
    <ul>
      <% post.comments.each do |comment| %>
        <li><%= comment.body %> - <%= User.find(comment.user_id).username %></li>
        <% if current_user == User.find(comment.user_id) %>
          <%= link_to 'Delete Comment', [comment.post, comment], data: { turbo_method: :delete } %>
        <% end %>
      <% end %>
    </ul>
    <p>Add Comment:</p>
    <%= render 'posts/comment_form' %>
  </ul>
  <% end %>
<% end %>

<%# add new post %>
<% if current_user == @user %>
  <h3>Add new Post:</h3>
  <%= render "posts/post_form" %>
<% end %>

<%# friends %>
<h3><%= @user.username %>'s friends:</h3>
<% @user.friends.each do |friend| %>
  <ul>
    <li><%= link_to friend.username, user_path(friend) %></li>
    <% if current_user == @user %>
      <% invite_id = Invitation.find_invitation(@user.id, friend.id) %>
      <%= link_to 'Delete Friend', user_invitation_path(@user, invite_id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    <% end %>
  </ul>
<% end %>

<%# friend request management %>
<% if current_user == @user %>
  <h3>Pending friend requests:</h3>
    <h5>Sent:</h5>
      <% @user.sent_invite_to.each do |almost_friend| %>
        <ul>
          <li><%= link_to almost_friend.username, user_path(almost_friend) %></li>
          <% invite_id = Invitation.find_invitation(@user.id, almost_friend.id) %>
          <%= link_to 'Delete Sent Friend Request', user_invitation_path(@user, invite_id), data: { turbo_method: :delete } %>
        </ul>
      <% end %>
    <h5>Recieved:</h5>
      <% @user.recieved_invite_from.each do |almost_friend| %>
        <ul>
          <li><%= link_to almost_friend.username, user_path(almost_friend) %></li>
          <% invite_id = Invitation.find_invitation(@user.id, almost_friend.id) %>
          <%= link_to 'Accept Friend Request', edit_user_invitation_path(@user, invite_id) %>
          <%= link_to 'Decline Friend Request', user_invitation_path(@user, invite_id), data: { turbo_method: :delete } %>
        </ul>
      <% end %>
<% end %>



