
  <% @posts.each do |post| %>
    <% @post = post %>
    <ul>
      <% unless post.post_picture.blank? %>
        <%= image_tag(post.post_picture, size: "300") %>
      <% end %>
      <li><%= post.body %></li>
      <%= post.created_at %><br>
      <%= post.likes.count %> - likes <br>
      <% like = post.find_like(current_user) %>
    <% if post.liked_by?(current_user) %>
      <%= link_to 'Un-like', post_like_path(post, like, like: { user_id: current_user.id, post_id: post.id }), data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to 'Like', new_post_like_path(post, like: { user_id: current_user.id, post_id: post.id }) %>
    <% end %>
      <ul>
        <%= render 'posts/post_comments' %>
        <p>Add Comment:</p>
        <%= render 'posts/comment_form' %>
      </ul>
    </ul>
  <% end %>
