<h1>Timeline</h1>

<% @posts.each do | post | %>
  <% @post = post %>
  <% user = User.find(post.user_id) %>
  <ul>
    <li><%= post.body %> - <%= link_to user.username, user_path(user) %></li>
    <%= post.created_at %><br>
    <%= post.likes.count %> - likes<br>
    <% like = post.find_like(current_user) %>
    <% if post.liked_by?(current_user) %>
      <%= link_to 'Un-like', post_like_path(post, like, like: { user_id: current_user.id, post_id: post.id }), data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to 'Like', new_post_like_path(post, like: { user_id: current_user.id, post_id: post.id }) %>
    <% end %>
    <ul>
      <% post.comments.each do |comment| %>
        <li><%= comment.body %> - <%= User.find(comment.user_id).username %></li>
        <% if current_user == User.find(comment.user_id) %>
          <%= link_to 'Delete Comment', [comment.post, comment], data: { turbo_method: :delete } %>
        <% end %>
      <% end %>
    </ul>
    <p>Add Comment:</p>
    <%= render 'comment_form' %>
  </ul>
<% end %>

<h3>Add new post:</h3>
<%= render "post_form" %>