<h1>Timeline</h1>

<% @posts.each do |post| %>
  <% user = User.find(post.user_id) %>
  <ul>
    <li><%= post.body %> - <%= link_to user.username, user_path(user) %></li>
    <%= post.created_at %><br>
    <%= post.likes.count %> - likes<br>
    <%= link_to 'Like', new_post_like_path(post, like: { user_id: current_user.id, post_id: post.id }) %>
    <%= link_to 'Un-like', like: { user_id: current_user.id, post_id: post.id }, post], data: { turbo_method: :delete } %>
  </ul>
<% end %>

<h3>Add new post:</h3>
<%= render "post_form" %>